
<body>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-4"> <% @photos.each do |photo| %>
        <img src="<%= photo %>" alt="random photo" />
      <% end %>
        <a class="btn btn-default"  >Caption It!</a>
    </div>
      <div class = "col-sm-4"><% @photos.each do |photo| %>
        <img src="<%= photo %>" alt="random photo" />
      <% end %></div>
      <div class = "col-sm-4"><% @photos.each do |photo| %>
        <img src="<%= photo %>" alt="random photo" />
      <% end %></div>
    </div>
  </div>


  <section>
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-4"> <% @photos.each do |photo| %>
          <img src="<%= photo %>" alt="random photo" />
        <% end %>
          <a class="btn btn-default"  >Caption It!</a>
      </div>
        <div class = "col-sm-4"><% @photos.each do |photo| %>
          <img src="<%= photo %>" alt="random photo" />
        <% end %></div>
        <div class = "col-sm-4"><% @photos.each do |photo| %>
          <img src="<%= photo %>" alt="random photo" />
        <% end %></div>
      </div>
    </div>

  </section>
=======
>>>>>>> refs/remotes/origin/master
</body>
