<div class = "container">
  <img class= "displayed img-clr" src="<%= @image.url %>" alt="random photo" />
    <% if @user.captions.find_by(image_id: @image.id) %>
      <% else %>
        <div class="form-group">
          <form action="/images/<%=@image.id%>/captions/new" method="post">
            <textarea placeholder="Enter your caption" class="form-cont" name="text"><%= @sentance %></textarea>
              <div class="form-actions">
              <input name="image_id" value='<%= @image.id %>' type='hidden'/>
              <button class = "btn1 btn1-primary btn1-lg another1" >Capjur It!</button></form>
            </div>
              <div class="form-actions">
              <button id="mic" class = "btn1 btn1-primary outline"><span class="icon-mic"></span>Use mic!</button>
              </div>
        </div>
    <% end %>

    <% @y.each do |caption| %>
    <div class ="caption-box caption">
      <span class="badge badge-count vote-badge"> <%= caption.total_votes %></span> "<%= caption.text %>"
        <p class ="user-text">  Created: <%= caption.created_at.strftime("%d %b. %Y") %> </p>
          <% if @user.votes.find_by(caption_id: caption.id) || caption.user_id == @user.id %>
            <% else %>
              <form method="post" action='/captions/vote/<%= caption.id %>'>
                <input name="image_id" value='<%= @image.id %>' type='hidden'/>
                <button type="submit" class = "btn1 btn1-primary another btn-form1">Vote!</button>
              </form>
          <% end %>
    </div>
    <% end %>
</div>

<script>
$("#mic").on('click',function() {

var listener = new AudioListener();
    listener.listen("en", function(text) {
        document.querySelector("textarea").value = text;
    });
  // See: http://docs.jquery.com/Tutorials:Introducing_$(document).ready()
});
</script>
