
<!-- <form action="/image/:id/show" method="post">
<input name="image_id" value='<%= @image.id %>' type='hidden'/>
</form> -->

<!-- <p><img src="<%= @image.url %>" alt="random photo" /></p>

<form method="post" action="/images/<%= @image.id %>/captions">
  <label for="text">caption here: </label>
  <textarea name="text"></textarea>
  <button type="submit" class="button">Capjur it</button>
</form>
 -->
<div class = "container">
  <div class="form-group text_fit">
  <img class= "displayed img-clr" src="<%= @image.url %>" alt="random photo" />

      <textarea placeholder="Enter your caption" class="form-control" name="text"></textarea>
    </div>

    <form class="btn-form" action="caption/new" method="post">
        <input name="image_id" value='<%= @image.id %>' type='hidden'/>
        <button class = "btn1 btn1-primary btn1-lg outline">CAPTION</button>
    </form>
<div>

<!-- 
list of captions that already exist -->
<div class="container">
  <% @image.captions.each do |caption| %>
    <div class="caption">
      <h3>
        <a href="/caption/<%= caption.id %>">
          <%= caption.text %>
        </a> 
        <small>
          Added by: <%= caption.user.name %>
        </small>
      </h3>
      <p>
        On: <%= caption.created_at %>
      </p>
      <p>
       <!--  Upvotes: <%= caption.total_votes %> -->
        <!-- Need to hide button once user upvotes -->
        <!-- <form action="/users/upvote" method="post">
          <button type="submit" name="logout">Upvote!</button>
          <input type="hidden" name="track_id" value="<%= track.id %>">
        </form> -->
      </p>
</div>
  <% end %>


<!-- 
# -->